.wp_syntax {
  color: #100;
/*  background-color: #f9f9f9;*/
  margin: 0 auto 1.5em auto;
  overflow: auto;
  text-align: left !important;

/*  margin: 0 auto;*/
}

/* IE FIX */
.wp_syntax {
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: expression(this.scrollWidth > this.offsetWidth ? 10 : -10);
  width: 100%;
	text-align: left !important;
}

.wp_syntax table {
  border-collapse: collapse;
	text-align: left !important;
}

.wp_syntax div, .wp_syntax td {
  vertical-align: top;
  padding: 2px 4px;
  margin: 0 auto;
}

.wp_syntax .line_numbers {
  text-align: right;
/*  background-color: #;*/
  color: #CFCFCF;
  overflow: visible;
}

/* potential overrides for other styles */
.wp_syntax pre {
 	
 	margin: 0;
  width: auto;
  float: none;
  clear: none;
  overflow: visible;
  font-size: 12px;
  line-height: 1.333;
  white-space: pre;
	text-align: left !important;
}
